<html>
<head>

	<title> <%= siteTitle %> - <%= pageTitle %> </title>
		
	<% include ../partials/head %>
	
</head>

<body style="background-color:#DCDCDC ">
		<% include ../partials/navbar %>

</body>	
</html>
