<html>
<head>

	<title> <%= siteTitle %> - <%= pageTitle %> </title>
		
	<% include ../partials/head %>
	
</head>

<body style="background-color:#DCDCDC ">
<% include ../partials/header %>


			
<center>
	<h1 style="color:blue">Swastika Web-site</h1>								
	<h2>Here you can share all your blogs and your Events with you friends</h2>	
	<h2>Swastika helps you to find the best events you are interested in you can also can create your own event with such an easy ways </h2>	
	<h2>It just a prototype of our project and we are looking forward to know your feedback</h2>	
	<h2>thank you </h2>



	<h4 style="color:red">CEO....Marawan Salah</h4>
</center>
</body>	
</html>							
