<html>
<head>

	<title> <%= siteTitle %> - <%= pageTitle %> </title>
		
	<% include ../partials/head %>
	
</head>

<body style="background-color:#DCDCDC ">
<% include ../partials/header %>


			
					<center><h1>imgs</h1>								
</body>	
</html>							
